div{
  box-sizing: border-box;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  background: #ffffff;
}

a { 
  text-decoration: none; outline: none;
  color: #222222;
}

a:hover, a:active {
  text-decoration: none; 
}

a:hover .news-contents-left-title {
  text-decoration: underline;
}

a:hover .news-contents-left-text {
  display: -webkit-box;
}

a:hover .dummy {
  height: 0px;
  transition: 0.5s;
}

/* 공통 */

.radius{
  border-radius: 4px;
}

.font-s{
  font-size: 14px;
}

.font-bold{
  font-weight: 500;
}

.font-c-b3{
  color: #b3b3b3;
}

.font-lh-20{
  line-height: 20px;
}

.font-c-green{
  color: #66A500;
}

.auto{
  margin: auto;
}

@media (max-width:1128px){
  body::-webkit-scrollbar {
    display: none;
  }
  }