.newsboard-area{
  width: 1128px;
  margin: auto;
  margin-top: 24px;
  padding: 97px 16px 0px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.news-contents{
  border: solid 1px #f3f3f3;
  height: 160px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.news-contents-container{
  display: inline-block;
}

.news-contents-left{
  width: 75%;
  height: 128px;
}

.news-contents-left-info{
 display: flex;
 justify-content: space-between;
}


.news-contents-left-title{
  margin-top: 12px;
  line-height: 24px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-contents-left-text{
  margin-top: 8px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.news-contents-right{
  margin-left: 16px;
  width: 25%;
  height: 128px;
  overflow:hidden;
}

.news-contents-right-img{
width: 100%;
height: 100%;
object-fit: cover;
}

.more-btn{
  grid-column: 1 / span 2;
  background: none;
  border: none;
  font-size: 16px;
  height: 40px;
  width: 100%;
  margin: 0.5rem auto;
  color: #222222;
  font-family: "PretendardVariable";
  text-decoration: underline;
}

/* 창크기 1128언더 */
@media (max-width:1128px){

  .newsboard-area{
    width: 100vw;
    grid-template-columns: 1fr;
  }

  .more-btn{
    grid-column: 1 
  }
  
  .news-contents{
    width: 100%;
  }

}

/* 창크기 445언더 */
@media (max-width:445px){


}

@media (max-width:360px){
  .news-contents-right{
    display: none;
  }
  .news-contents-left{
    width: 100%;
  }
}